@import "img-border";

.entry-content {
  ul.intro {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    list-style-type: none;

    > li {
      &:first-of-type {
        width: 30%;
      }

      &:last-of-type {
        flex-grow: 1;
        margin-left: 1rem
      }
    }
  }
}