/* test */

/* サイドバー非表示 */
#jira-frontend > div:first-of-type  > div:first-of-type > div:nth-of-type(3) > div:first-of-type  {
  display: none;
}

[data-test-id="software-board.board-area"] > div:first-of-type > div:first-of-type > section:first-of-type > div:first-of-type {
  display: none;
}

/* [data-testid="Navigation"] {
    display: none;
}
 */

/* 左のスペースをなしに */
[data-testid="Content"] {
  padding-left: 0 !important;
}

[data-test-id="software-board.board-area"] > div:first-of-type > div:first-of-type > section:first-of-type {
  padding: 0px !important;
}

/* トップナビの高さ調整 */
#jira-frontend > div:first-of-type > div:first-of-type {
  display: inherit;
}

[data-ds--page-layout--slot="top-navigation"] {
  display: none;
}

// [data-testid="atlassian-navigation--header"] {
//   height: 2rem !important;
// }

[data-test-id="software-board.board"]{
  height: auto;
}

[data-test-id="software-board.board"] > div:first-of-type > div:nth-of-type(1) {
  display: none;
}

// [data-test-id="software-board.board"] > div:first-of-type > div:first-of-type {
//   display: none;
// }

// [data-test-id="software-board.board"] > div:first-of-type > div:first-of-type > * {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: flex-start;
//     margin: -3px 0 -20px 0;
// }

/* 担当者折りたたみパートをコンパクト化 */
[data-test-id="platform-board-kit.ui.swimlane.swimlane-content"] [role="presentation"] + div {
  display: none;
}

[role="button"]{
  padding: 0;
  margin: 0;
  height: 30px;
}

[data-test-id="software-board.board-area"] > div:first-of-type > div:first-of-type > section:first-of-type > div:nth-of-type(2) > div:nth-of-type(2) > div > div:nth-of-type(2),
[data-test-id="software-board.board-area"] > div:first-of-type > div:first-of-type > section:first-of-type > div:nth-of-type(2) > div:nth-of-type(2) > div > div:nth-of-type(1),
.sc-gnEqpY,.Jwuft,
.sc-jWNpPo,.eoliC
{
  display: none;
}

/* 下部スクロール非表示 */
/* .sc-hgDJdk,
.YScUO {
    overflow: scroll !important;
    scrollbar-width: none;
} */

/* 列追加ボタンを非表示 */
[data-test-id="platform-board-kit.ui.column.column-create.button.styled-button"]{
  display: none;
}
