.author, .navbar, .btn-info, .btn-danger, .btn-success {
    display: none;
}

.btns :last-child {
    &.label-hot:nth-of-type(2) {
        background: transparent;
    }
}

.twittersrc .author {
    display: block;
}

font .label-hot {
    display: inline !important;
}

.post-columns-wrapper {
    padding-top: 0;
}

.post-columns .column {
    width: 411px;
}